footer {
	background: $secondaryAccentColor;
	min-height: 50px;
	display: flex;
	align-items: center;
	border-top: 3px dotted $accentColor;
	
	section {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}
}