@media (max-width: 1100px) {
	// Contact form
	.formField {
		flex-direction: column;
	}
	input {
		text-align: center;
		width: 100%;
	}
}

@media (max-width: 600px) {
	// Contact form
	form {
		width: 100%;
		margin: 3% auto;
	}
	.formRow {
		flex-direction: column;
	}
	.formField {
		width: 100%;
	}
	label {
		margin: 10px 0px;
	}
	textarea {
		width: auto;
		padding: 5px 0px 0px 2px;
	}
	// Footer
	footer {
		section {
			flex-direction: column;
		}
		h2 {
			margin-top: 20px;
		}
		.mediaNav {
			margin: 20px 0px;
			width: 80%;
		}
		h4 {
			margin-bottom: 20px;
		}
	}
}