@media (max-width: 1100px) {
	// Contact form
	.formField {
		flex-direction: column;
	}

	input {
		text-align: center;
		width: 100%;
	}
}

@media (max-width: 768px) {
	// About 
	.bio {
		p {
			width: 90%;
			// text-align: left;
		}
		
		.mediaNav {
			width: 50%;
		}
	}
	
	// Skills
	.skillsContainer {
		width: 100%;
	}

	// Projects 
	.project {
		flex-direction: column;
		width: 100%;
	}

	.rightProject {
		.details {
			order: 1;
		}

		.projectImgContainer {
			order: 0;
		}
	}

	.details,
	.projectImgContainer {
		width: 90%;
	}

	.projectImgContainer {
		margin: 40px auto;
	}
}

@media (max-width: 600px) {
	// Header
	header {
		background-position: center;
	}
	.navbar {
		ul {
			background-color: rgba(210, 218, 226, 0.9);
			flex-direction: column;
			position: fixed;
			top: 50px;
			height: 100%;
			width: 30%;
			right: -30%;
			border-left: 5px dotted $accentColor;
			transition: all 0.5s;
			justify-content: flex-start;
		}

		ul a {
			@include fontSize(30);
			border-bottom: 3px solid $accentColor;
			display: inline-block;
			width: 100%;
			padding: 5%;
			text-align: center;
			transition: all 0.35s;
			padding: 20% 5%; 

			&:hover,
			&:focus {
				background: $accentColor;
				color: $secondaryFont;
			}
		}

		label {
			display: block;
		}

	}
	
	// About
	#about {
		margin: 5% 0px;
	}

	// Contact form
	form {
		width: 100%;
		margin: 3% auto;
	}

	.formRow {
		flex-direction: column;
	}

	.formField {
		width: 100%;
	}

	label {
		margin: 10px 0px;
	}

	textarea {
		width: auto;
		padding: 5px 0px 0px 2px;
	}

	// Footer
	footer {
		section {
			flex-direction: column;
		}

		h2 {
			margin-top: 20px;
		}

		.mediaNav {
			margin: 20px 0px;
			width: 80%;
		}

		h4 {
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 480px) {
	// Header
	header {
		height: 80vh;
		background: $secondaryAccentColor;
	}
	.intro {
		h2 {
			text-align: center;
		}
	}

	.navbar {
		ul {
			width: 100%;
			top: -100%;
			right: 0;
			left: 0;
			height: auto;
			border-left: none;
			transition: all 0.8s ease-in-out;

			a {
				padding: 5%;
			}
		}
	}
	
	// About 
	.bio {
		p {
			width: 100%;
			// margin: 5%;
		}
		.mediaNav {
			width: 70%;
		}
	}
}