// Variables
$primaryFont: #2d2d2f;
$secondaryFont: #eee;

// $primaryColor: ;
// $secondaryColor: ;
$accentColor: #008080;
$secondaryAccentColor: rgb(210, 218, 226);
$secondaryAccentOpacity: rgba(210, 218, 226, 0.8);
// Mixins
@mixin fontSize($sizeValue){
	font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

@mixin logoFont() {
	font-family: "Indie Flower", cursive;
}

@mixin mainFont() {
	font-family: "Roboto", sans-serif;
}

@mixin headerFont() {
	font-family: "Montserrat", sans-serif;
}