a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-size: 4rem;
  color: #2d2d2f;
  margin: 20px auto;
}

h2 {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  font-size: 3rem;
}

h3 {
  font-size: 25px;
  font-size: 2.5rem;
}

h4 {
  font-size: 15px;
  font-size: 1.5rem;
}

p {
  font-size: 18px;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: #2d2d2f;
}

img {
  width: 100%;
}

.wrapper {
  margin: 0px auto;
  width: 90%;
  max-width: 1500px;
}

.bold {
  font-weight: 700;
}

main h2,
main h4 {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: auto;
}

main h2::after,
main h4::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: -10px;
  left: 10%;
  border-bottom: 3px solid #008080;
}

.mediaNav {
  width: 20%;
}

.mediaNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mediaNav a {
  font-size: 25px;
  font-size: 2.5rem;
  color: #008080;
  -webkit-transition: color ease-in-out 0.35s;
  transition: color ease-in-out 0.35s;
}

.mediaNav a:hover, .mediaNav a:focus {
  color: #2d2d2f;
}

header {
  height: 100vh;
  background: url("./assets/landingImage") no-repeat fixed center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  background-color: rgba(210, 218, 226, 0.86);
  border-bottom: 3px solid #008080;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 50px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

.navbar h2 {
  width: 20%;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60%;
}

.navbar li {
  font-size: 20px;
  font-size: 2rem;
}

.navbar input[type="checkbox"] {
  display: none;
}

.navbar input[type="checkbox"]:checked + ul {
  right: 0;
  top: 50px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
}

#about {
  margin-top: 2%;
}

.bio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bio p {
  text-align: center;
  width: 60%;
  margin-bottom: 3%;
}

.aboutImgContainer {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px dotted #008080;
  background-position: center;
  background: url("./assets/image from iOS.jpg") no-repeat center;
  background-size: cover;
  margin: 5% auto;
}

#skills {
  margin-top: 2%;
  background-color: #d2dae2;
  border-top: 3px dotted #008080;
  border-bottom: 3px dotted #008080;
  padding: 3% 0px 5%;
}

#skills .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: 5% auto 0px;
}

.skill {
  width: 75px;
  margin: 20px;
}

.skill p {
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
}

.projectCollection {
  text-align: center;
  Margin: 5% auto;
}

.projectCollection h2,
.projectCollection h4 {
  margin-bottom: 5%;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px auto;
  height: auto;
}

.details,
.projectImgContainer {
  width: 47%;
}

.projectImgContainer {
  border-radius: 20px;
  overflow: hidden;
  border: 3px dotted #d2dae2;
}

#contact {
  background: url("./assets/coffeeAndCode") no-repeat fixed center;
  background-size: cover;
  padding-top: 3%;
  padding-bottom: 3%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 70%;
  margin: auto;
  background-color: rgba(210, 218, 226, 0.8);
  padding: 3%;
  border-radius: 20px;
}

form h2 {
  margin-bottom: 4%;
}

.formRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.formField {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right {
  justify-self: flex-end;
}

input {
  width: 60%;
  margin: 2px;
}

label {
  font-size: 20px;
  font-size: 2rem;
  margin-right: 20px;
}

textarea {
  resize: none;
  padding: 10px;
  margin: 20px 0px;
}

input,
textarea {
  font-size: 15px;
  font-size: 1.5rem;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow ease-in 0.35s;
  transition: -webkit-box-shadow ease-in 0.35s;
  transition: box-shadow ease-in 0.35s;
  transition: box-shadow ease-in 0.35s, -webkit-box-shadow ease-in 0.35s;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: 2px 2px 10px #000;
          box-shadow: 2px 2px 10px #000;
}

input[type="submit"] {
  margin: auto;
  -webkit-transition: background-color ease-in-out 0.35s, color ease-in-out 0.35s;
  transition: background-color ease-in-out 0.35s, color ease-in-out 0.35s;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  color: #eee;
  background-color: #008080;
}

footer {
  background: #d2dae2;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px dotted #008080;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1100px) {
  .formField {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .bio p {
    width: 90%;
    text-align: left;
  }
  .bio .mediaNav {
    width: 50%;
  }
  .skillsContainer {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .navbar ul {
    background-color: rgba(210, 218, 226, 0.9);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 50px;
    height: 100%;
    width: 30%;
    right: -30%;
    border-left: 5px dotted #008080;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar ul a {
    font-size: 30px;
    font-size: 3rem;
    border-bottom: 3px solid #008080;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5%;
    text-align: center;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .navbar ul a:hover, .navbar ul a:focus {
    background: #008080;
    color: #eee;
  }
  #about {
    margin: 5% 0px;
  }
  form {
    width: 100%;
    margin: 3% auto;
  }
  .formRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formField {
    width: 100%;
  }
  label {
    margin: 10px 0px;
  }
  textarea {
    width: auto;
    padding: 5px 0px 0px 2px;
  }
  footer section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer h2 {
    margin-top: 20px;
  }
  footer .mediaNav {
    margin: 20px 0px;
    width: 80%;
  }
  footer h4 {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .intro h2 {
    text-align: center;
  }
  .navbar ul {
    width: 100%;
    top: -100%;
    right: 0;
    left: 0;
    height: auto;
    border-left: none;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  .bio .mediaNav {
    width: 70%;
  }
}
